*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: #fff;
}
body{
    height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
}
.string{
    height: 200px;
    width: 100%;
    background-color: purple;
}
#page1{
    width: 100%;
    height: 100%;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page2{
    width: 100%;
    height: 100%;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3{
    width: 100%;
    height: 100%;
    background-color: #888;
}
#page4{
    width: 100%;
    height: 100%;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #0c0c0c;
    white-space: nowrap;
}

h1
{
    font-size: 400px;
    color: red;
}
#cursor
{
    height: 20px;
    width: 20px;
    background-color: beige;
    border-radius: 30px;
    position: fixed;
    z-index: 9;
}