*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}
body{
    height: 100vh;
    overflow-x: hidden;
    /* cursor: none; */
}
#main{
    height: 100%;
    width: 100%;
    background: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cursor
{
    position: fixed;
    height: 22px;
    width: 22px;
    pointer-events: none;
    background-color: rgb(123, 123, 123);
    mix-blend-mode: difference;
    border-radius: 30px;
    z-index: 9;
}
#main h1{
    font-size: 60px;
    /* background-color: red; */
    overflow: hidden;
}
h1 span{
    display: inline-block;
}
